@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

$z-index: (
  default : 1,
);

@mixin arrow-generator($direction, $color, $size) {
  display: inline-block;
  width: 0;
  height: 0;
  
  $directions: top, right, bottom, left;
  @for $i from 1 through length($directions) {
      @if nth($directions, $i) == $direction {
          border-#{get-item($directions, $i, -1)}: $size solid transparent; 
          border-#{get-item($directions, $i, 1)}: $size solid transparent; 
          border-#{get-item($directions, $i, 2)}: $size solid $color; 
      } 
  }
}